@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;

}

body {
    display: grid;
    grid-template-columns: 25ch  auto auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto auto;
    min-height: 100%;
    min-width: 100vw;
    background: #f4f8f9;
}


.contentCadastros{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* ======================================HEADER=================================*/ 
.main{
    padding: 0;
}


.Header{  
    padding: 0;
    width: 100%;
    height: 4ch;
    background-color: #cacaca3d;
    display: flex;
    justify-content: center;
    border-bottom: 0.1ch solid #cacaca;
}

.contentHeader{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2ch;
}



.BtnAdd button, .BtnAddReservas button{
    width: 10ch;
    height:3ch;
    background-color: #59cbe8a6; 
    cursor: pointer;
    border: 0.1ch solid #FFFFFF;
    color: #FFFFFF;
    transition: 400ms;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.274);
    border-radius: 0.5ch;
}

.BtnAdd button:hover, .BtnAddReservas button:hover{
    background-color: #59cbe8; 
    border: 0.1ch solid #FFFFFF;
    color: #FFFFFF;
}
.TituloHeader{
    display: flex;

}
.TituloHeader p{
  align-self: center;  
    margin-left: 0.5ch;
    
}
#iconeTitulo{
    color: #59cbe8;
    font-size: 3ch;
    padding-top: 0.2ch;
}

/*========================================Pesquisa========================================*/

.CampoDePesquisa{
    width: 98%;
    height: 4ch;
    align-self:  center;
    display: grid;
    grid-template-columns:  auto auto auto auto;
    grid-template-rows:  auto ;
    justify-content: end;
   
}
.PesquisaContent{
    background-color: #f4f8f9;
    border:  0.1ch solid #cacaca;
    width: 30ch;
    height: 2.5ch;
    margin: auto;
    display: flex;
    
}
.CampoDePesquisa input {
    width: 90%;
    height: 100%;
    border: none;
    grid-column: 1/3;
    background: transparent;
    padding: 0.8ch;
        
}
.CampoDePesquisa input:focus { box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.CampoDePesquisa span{
    grid-column: 3/4;

}
.CampoDePesquisa span  #iconeLupa{
    color: #555555;
    font-size: 1.7ch;
    margin-top: 0.2ch;
}
#Busca{
align-self: center;
margin-right: 1ch;
font-size: 1.3ch;
}
/*========================================Lista========================================*/

.ListaCadastros{
    width: 98%;
    height: 85%;
    background-color: #f4f8f9;
    margin: auto;
    border: 0.1ch solid #cacaca;
    margin-bottom: 2ch;

}
.ListaCadastrosClientes{
    width: 100%;
    overflow-x: auto;
}
.ListaCadastrosClientes::-webkit-scrollbar {
    width: 0.7ch; 
    height: 0.7ch;           
  }
  
  .ListaCadastrosClientes::-webkit-scrollbar-track {
    background: #f4f8f9;       
  }
  
.ListaCadastrosClientes::-webkit-scrollbar-thumb {
    background-color: #59cbe8;   
    border-radius: 3ch;       
    
  }

.table{
    width: 100%;
    border-collapse: collapse;
}

thead > tr{
    background: #cacaca3d;
    height: 3.5ch;
    text-align: left;
    padding: 1ch;
    border-bottom: 0.1ch solid #cacaca;

}


tbody > tr{
    height: 4ch;
}
td,  th{
    padding: 1ch;
    border-left: 0.1ch solid #cacaca;
    border-bottom: 0.1ch solid #cacaca;
    cursor: pointer;

}
tr:hover
{
    background:#cacaca3b ;
}

.AcaoBtn{
    display: flex;
    justify-content:end;
    border-left: 0;
}
#Acaobtn{
    border-bottom: 0;
}

.DeleteBtnClientes , .AlterarBtnClientes{
    margin-left: 1ch;
   font-size: 2.5ch; 
   cursor: pointer;
   color: #59cbe8;
   background: transparent;
   border: none;

}



/* -=========================MODAL===========================*/

.ModalClientes{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 5px;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.cabecalhoAddClientes{
    display: flex;
    justify-content: space-between;
    color: #59cbe8;
    width: 80%;

}
.cabecalhoAddClientes button{
    background-color: transparent;
    border: none;
    font-size: 3ch;
    color: #59cbe8;
    cursor: pointer;
}
.ModalAddClientes{
    overflow-y: auto;
    padding: 0.5ch;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
width: 30%;
height: 80%;
justify-content: center;
}

.ModalAddClientes::-webkit-scrollbar{
   background-color: transparent;   
 }

.container{
    width: 80%;
    height: 80%;
}




.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    color:#261B1D;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 18px;
    color:#59cbe8;
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

form input[type="submit"] {
    margin-top: 2rem;
    padding: 0.4rem;
    width: 100%;
    background:#59cbe8;
    cursor: pointer;
    color: #f4f8f9;
    font-size: 0.9rem;
    font-weight: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
    border: none;
}

form input[type="submit"]:hover {
    letter-spacing: 0.5px;
    background:#f4f8f9;
    color: #59cbe8;
    border: 0.2ch solid #59cbe8;
}